@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --pink: #fb38a4;
  --morado: #800080;
  --gray: #ececec;
  --gray-dark: #222222;
}

body {
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
html {
  scroll-behavior: smooth;
}
.ancho {
  max-width: 1200px;
  margin: auto;
}
header {
  padding: 20px;
}
.contenedorinfo {
  padding: 20px;
}

h2 {
  font-size: 18px;
  padding-bottom: 20px;
}
nav {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav ul li {
  padding: 5px;
}
nav ul li a {
  color: #333;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.5s;
}
nav ul li a:hover {
  color: var(--pink);
}
#icono_menu {
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
footer {
  margin-top: 10px;
  color: whiter;
  background-color: #333;
  height: 70px;
  text-align: center;
  font-family: impact;
  font-size: 25px;
  padding-top: 20px;
}
.ir-arriba {
  display: block;
  padding: 15px;
  border-radius: 5px;
  background: var(--pink);
  color: #fff;
  border-radius: 100%;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 0.5s;
  z-index: 10;
}
.ir-arriba:hover {
  background-color: var(--morado);
}

/* Inicio css slide */

.slide_fotos {
  position: relative;
  width: 100%;
  height: 500px; /* Ajusta según tus necesidades */
  position: relative;
}

.info_slide_banner{
  position: absolute;
  font-family: 'Oswald', sans-serif;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.534);
}

.info_slide_banner h3{
  color: var(--pink);
  font-size: 25px;
  margin-top: 7%;
  margin-left: 8%;
}

.info_slide_banner h1{
  font-size: 45px;
  line-height: 53px;
  margin-top: 2.5%;
  margin-left: 8%;
}

.info_slide_banner p{
  margin-top: 2.5%;
  margin-left: 8%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(251, 56, 132);
  background: linear-gradient(
    90deg,
    rgba(251, 56, 132, 1) 5%,
    rgba(251, 56, 164, 1) 30%,
    rgba(165, 17, 137, 1) 50%,
    rgba(128, 0, 128, 1) 63%,
    rgba(75, 0, 128, 1) 91%
  );
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px; /* Tamaño del icono */
}

.prev {
  left: 10px;
  color: white;
  padding: 15px 25px;
  border-radius: 100%;
}

.next {
  right: 10px;
  color: white;
  padding: 15px 25px;
  border-radius: 100%;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: 500px;
  z-index: -10;
  padding: 0;
  margin: 0;
  min-height: 400px;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  object-fit: cover;
  float: left;
  width: 100%;
  min-height: 400px;
  object-fit: cover;
  border: 0;
}

/* Fin css slide */

.soluciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 90%;
  left: 5.5%;
}

.solve {
  width: 31%;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  transition: all 0.5s linear;
  box-shadow: 0px 0px 20px #0000005d;
}

.solve:hover {
  color: white;
  background: rgb(251, 56, 132);
  background: linear-gradient(
    90deg,
    rgba(251, 56, 132, 1) 5%,
    rgba(251, 56, 164, 1) 30%,
    rgba(165, 17, 137, 1) 50%,
    rgba(128, 0, 128, 1) 63%,
    rgba(75, 0, 128, 1) 91%
  );
}

.solve h1 {
  text-align: left;
  padding: 0;
  margin-top: 20px;
}

.solve p {
  text-align: left;
  margin-top: 20px;
}

.soluciones_2{
  display: none;
}

.icon i {
  font-size: 45px;
}

.about_us {
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about_us figure {
  width: 600px;
}

.about_us figure img {
  width: 100%;
  height: 100%;
}

.info {
  width: 700px;
}

.info h3 {
  color: var(--pink);
}

.info h1 {
  font-size: 40px;
  line-height: 46px;
  margin-top: 20px;
}

.info p {
  margin-top: 20px;
}

/* inicio css tabs */

.menutabs {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 25px;
}

.url {
  margin-left: 10px;
}

.menutabs li {
  width: 33.33%;
}

.contenedores_2{
  display: none;
}

.menutabs li a {
  display: block;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  border: 1px var(--pink) solid;
  border-radius: 10px;
  color: var(--pink);
}

.activo {
  background-color: var(--pink);
  color: white !important;
}

#contenedor_tabs article {
  padding: 20px;
  margin-top: -15px;
}

.parrafo {
  margin-bottom: 25px;
}

#contenedor_tabs article span {
  font-weight: bold;
}

.menutabs li {
  background-color: white;
  transition: all 0.5s;
}

#contenedor_tabs h2 {
  color: #800000;
  padding-bottom: 15px;
}

/* fin css tabs */

.espacio {
  margin-top: 10px !important;
}

.company {
  text-align: center;
  background-color: var(--gray);
  margin-top: 50px;
  padding-bottom: 50px;
  margin-bottom: -90px;
}

.company h1 {
  font-size: 40px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 48px;
  margin-bottom: 20px;
}

.company p {
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.contenido {
  width: 31%;
  text-align: left;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  transition: all 0.5s linear;
  box-shadow: 0px 0px 20px #0000005d;
}

.contenido:hover {
  color: white;
  background: rgb(251, 56, 132);
  background: linear-gradient(
    90deg,
    rgba(251, 56, 132, 1) 5%,
    rgba(251, 56, 164, 1) 30%,
    rgba(165, 17, 137, 1) 50%,
    rgba(128, 0, 128, 1) 63%,
    rgba(75, 0, 128, 1) 91%
  );
}

.contenido h1 {
  text-align: left;
  padding: 0;
  font-size: 25px;
  margin-top: 20px;
}

.contenido p {
  text-align: left;
  margin-top: 20px;
}

.icon2 i {
  font-size: 35px;
}

.best_numbers {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top: 80px;
  position: relative;
}

.best_numbers figure {
  border: 1px blue solid;
  width: 100%;
  height: 550px;
}

.best_numbers figure img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info_company {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(251, 56, 132);
  background: linear-gradient(
    90deg,
    rgba(251, 56, 132, 0.8) 5%,
    rgba(251, 56, 164, 0.8) 30%,
    rgba(165, 17, 137, 0.8) 50%,
    rgba(128, 0, 128, 0.8) 63%,
    rgba(75, 0, 128, 0.8) 91%
  );
}

.info_company h1 {
  width: 57%;
  margin: auto;
  font-size: 42px;
  line-height: 50px;
  margin-top: 8%;
}

.info_company p {
  margin: auto;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.stadystics {
  margin-top: 30px;
  display: grid;
  grid-gap: 30px;
  padding-left: 40px;
  padding-right: 40px;
  grid-template-areas: "download projects behance app";
}

.download{
  grid-area: download;
}

.projects{
  grid-area: projects;
}

.behance{
  grid-area: behance;
}

.app{
  grid-area: app;
}

.stadystics_number {
  padding: 15px;
  border-radius: 15px;
  border: 1px white solid;
  position: relative;
}

.stadystics_number h1 {
  margin-top: 50px;
}

.icon3 {
  border: 1px white solid;
  background-color: white;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20%;
  left: 38%;
}

.icon3 i {
  font-size: 35px;
  color: var(--pink);
}

.galeria {
  text-align: center;
}

.galeria h1 {
  font-size: 41px;
  line-height: 49px;
  margin-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
}

.galeria p {
  margin-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

.galeria_grid {
  margin: auto;
  margin-top: 50px;
  max-width: 1100px;
  display: grid;
  grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6";
  grid-gap: 15px;
}

.foto1 {
  grid-area: foto1;
}

.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

.foto4 {
  grid-area: foto4;
}

.foto5 {
  grid-area: foto5;
}

.foto6 {
  grid-area: foto6;
}

.galeria_grid figure {
  cursor: pointer;
  filter: grayscale(100%);
  transition: all 0.5s linear;
}

.galeria_grid figure:hover{
  filter: grayscale(0%);
}

.galeria_grid figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 0.5s linear;
}

.galeria_grid figure img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px black;
}

.worked {
  text-align: center;
  background-color: var(--gray);
  margin-top: 50px;
  height: auto;
  padding-bottom: 70px;
}

.worked h1 {
  font-size: 35px;
  line-height: 43px;
  padding-top: 50px;
}

.worked p {
  margin-top: 20px;
}

.empleados {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.empleados figure {
  width: 250px;
  border-radius: 10px;
  background-color: white;
  border-bottom: 5px var(--pink) solid;
}

.empleados figure div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.letras h1 {
  margin-top: -40px;
  font-size: 22px;
}

.letras h3 {
  font-size: 15px;
  color: var(--pink);
  margin-bottom: 20px;
}

.parrallax {
  font-family: 'Oswald', sans-serif;
  background-image: url(imagenes/parrallax.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 400px;
  position: relative;
}

.parrallax::before {
  content: "";
  background: rgb(251, 56, 132);
  background: linear-gradient(
    90deg,
    rgba(251, 56, 132, 0.8) 5%,
    rgba(251, 56, 164, 0.8) 30%,
    rgba(165, 17, 137, 0.8) 50%,
    rgba(128, 0, 128, 0.8) 63%,
    rgba(75, 0, 128, 0.8) 91%
  );
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.info2 {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  padding: 15px;
  position: absolute;
  z-index: 4;
  top: 0%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
}

.info2 h3 {
  font-size: 15px;
  margin-top: 5%;
}

.info2 h1 {
  font-size: 45px;
  line-height: 53px;
  margin-top: 5px;
}

.info2 p {
  font-size: 16px;
  margin-top: 15px;
}

.modal {
  margin: auto;
  text-align: center;
  padding: 15px 40px;
  margin-top: 60px;
}

.modal a {
  text-decoration: none;
  color: var(--pink);
  background-color: white;
  border-radius: 7px;
  padding: 20px 40px;
  transition: all 0.5s linear;
}

.modal a:hover {
  color: white;
  background: rgb(251, 56, 132);
  background: linear-gradient(
    90deg,
    rgba(251, 56, 132, 0.8) 5%,
    rgba(251, 56, 164, 0.8) 30%,
    rgba(165, 17, 137, 0.8) 50%,
    rgba(128, 0, 128, 0.8) 63%,
    rgba(75, 0, 128, 0.8) 91%
  );
}

.banner-contenedor {
  top: 0;
  left: 0;
  position: fixed;
  border: 1px green solid;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.658);
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.banner-modal {
  padding: 20px;
  border: 1px blue solid;
  overflow: auto;
  background-color: white;
  max-width: 900px;
  height: 90vh;
}

.mostrar {
  display: flex;
}

.formulario h1 {
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px;
  font-size: 38px;
  margin-bottom: 20px;
}

.formulario p {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 30px;
  border: 2px #ccc solid;
  width: 100%;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px #ccc solid;
}

.cierre {
  position: absolute;
  font-size: 25px;
  top: 2%;
  color: red;
  right: 27.5%;
  cursor: pointer;
}

.video {
  max-width: 600px;
  margin-left: 54%;
  margin-top: -15%;
}

#contenedor_youtube {
  height: 0;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

#contenedor_youtube iframe {
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.process {
  text-align: center;
  margin-top: 50px;
}

.process p {
  margin-bottom: 80px;
}

.process_titulo {
  font-size: 40px;
  margin-bottom: 25px;
}

.process_marketing {
  display: flex;
  margin-top: 60px;
  margin-left: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 670px;
}

.process_marketing figure {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 2px var(--pink) solid;
  border-radius: 100%;
}

.process_marketing figure h1 {
  font-size: 20px;
  margin-top: 37px;
}

.process_marketing figure img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.imagen_empleados {
  margin: auto;
  height: 450px;
  width: 450px;
  border-radius: 15px;
  position: relative;
  transition: all 0.5s linear;
}

.imagen_empleados img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.imagen_empleados:hover .info_pedorro {
  top: 0;
  opacity: 1;
}

.info_pedorro {
  background: rgb(251, 56, 132);
  background: linear-gradient(
    90deg,
    rgba(251, 56, 132, 0.7) 5%,
    rgba(251, 56, 164, 0.7) 30%,
    rgba(165, 17, 137, 0.7) 50%,
    rgba(128, 0, 128, 0.7) 63%,
    rgba(75, 0, 128, 0.7) 91%
  );
  width: 100%;
  height: 62.5%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 10px;
  transition: all 0.5s linear;
  opacity: 0;
}

.info_pedorro h3 {
  color: white;
  font-size: 25px;
}

.info_pedorro a {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.redes {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icono_red {
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.redes i {
  align-items: center;
  color: var(--pink);
  border-radius: 100%;
  font-size: 20px;
}

.slide h1{
  margin-top: 30px;
  font-size: 30px;
}

.slide h2{
  margin-top: 20px;
  color: var(--pink);
}

.flechas{
  display: none !important;
}

.listado{
  margin-left: 50px;
  margin-top: 20px;
}

.acordeon_titulo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin-top: 15px;
  color: #800000;
}

.acordeon_contenido{
  padding: 15px;
  display: none;
}

.acordeon_contenido p{
  margin-top: -20px;
}

.acordeon_titulo2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  color: #800000;
}

.acordeon_titulo3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  color: #800000;
}

.acordeon_titulo4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  color: #800000;
}

.acordeon_titulo5{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  color: #800000;
}

.acordeon_titulo6{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  color: #800000;
}

.acordeon_titulo7{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  color: #800000;
}

.more{
  font-size: 25px;
}

#flecha{
  transform: rotate(0deg);
  transition: all .5s;
}
#flecha2{
  transform: rotate(0deg);
  transition: all .5s;
}
#flecha3{
  transform: rotate(0deg);
  transition: all .5s;
}
#flecha4{
  transform: rotate(0deg);
  transition: all .5s;
}
#flecha5{
  transform: rotate(0deg);
  transition: all .5s;
}
#flecha6{
  transform: rotate(0deg);
  transition: all .5s;
}
#flecha7{
  transform: rotate(0deg);
  transition: all .5s;
}

.rotar{
  transition: all .5s;
  transform: rotate(180deg) !important;
}

footer{
  background-color: var(--gray-dark);
  height: auto;
  padding: 20px;
}